<div class="container mt-4">
  <div class="card">
   <div class="card-body">
     <div class="container text-center">
       <button class="btn btn-dark  float-left" routerLink="/crear-proyecto">Nuevo</button>
        <mat-form-field class="select float-left verPor ml-4" appearance="outline">
         <mat-label>Estado</mat-label>
         <mat-select  [disabled]="disableSelect.value">
           <mat-option [value]="opt" *ngFor="let opt of opcions ;let i = index " (click)="verPor(i)">{{opt}}</mat-option> 
         </mat-select>
       </mat-form-field>
       <span class="h3">Proyectos</span>
     </div>
     <div class="container mt-4">
      <div class="table-responsive tablita">
        <table class="table table-responsive">
          <thead>
            <tr>
              <th scope="col" >
                <mat-form-field class="select" appearance="outline">
                  <mat-label>Proyecto</mat-label>
                  <mat-select  [disabled]="disableSelect.value">

                    <mat-option value="option1" *ngFor="let item of auxproyectos" (click)="ver(0,item)">{{item.nombre}}</mat-option> 

                  </mat-select> 
                </mat-form-field>
              </th>
              <th scope="col" >
                <mat-form-field class="select" appearance="outline">
                  <mat-label>Responsable</mat-label>
                  <mat-select  [disabled]="disableSelect.value">

                    <mat-option value="option1" *ngFor="let item of auxproyectos " (click)="ver(1,item.responsable)">{{item.responsable.nombre}}</mat-option> 

                  </mat-select> 
                </mat-form-field>
              </th>
              <th scope="col" >
                <mat-form-field class="select" appearance="outline">
                  <mat-label>Objetivos</mat-label>
                  <mat-select  [disabled]="disableSelect.value">

                    <mat-option value="option1" *ngFor="let item of auxproyectos " (click)="ver(2,item.listObjetivos)">
                      <span *ngFor="let obj of item.listObjetivos">{{obj.objetivo}}
                        {{ item.listObjetivos[item.listObjetivos.length-1] === obj ? '':  ',' }}
                      </span>
                    </mat-option> 

                  </mat-select> 
                </mat-form-field>
              </th>
              <th scope="col">
                <mat-form-field class="select" appearance="outline">
                  <mat-label>Integrantes</mat-label>
                  <mat-select  [disabled]="disableSelect.value">

                    <mat-option value="option1" *ngFor="let item of auxproyectos " (click)="ver(3,item)">
                      <span *ngFor="let obj of item.listObjetivos">
                        <span *ngFor="let integrante of obj.integrantes" >
                          {{integrante.nombre}}{{ obj.integrantes[obj.integrantes.length-1] === integrante ? '':  ',' }}
                        </span>
                      </span>
                    </mat-option> 

                  </mat-select> 
                </mat-form-field>
              </th>
              <th scope="col" >
                <mat-form-field class="select" appearance="outline">
                  <mat-label>Avance</mat-label>
                  <mat-select  [disabled]="disableSelect.value">

                    <mat-option value="option1" *ngFor="let item of auxproyectos " (click)="ver(4,item.avance)">{{item.avance}}</mat-option> 

                  </mat-select> 
                </mat-form-field>
              </th>
              <th scope="col">
                <mat-form-field class="select" appearance="outline">
                  <mat-label>Fecha Límite</mat-label>
                  <mat-select  [disabled]="disableSelect.value">

                    <mat-option value="option1" *ngFor="let item of auxproyectos" (click)="ver(5,item.fechaLimite)">{{item.fechaLimite}}</mat-option> 

                  </mat-select> 
                </mat-form-field>
              </th> 
              <th scope="col" >
                <!-- Acciones  -->
              </th>
              
            </tr>
          </thead>
          <tbody>

            <tr *ngFor="let item  of proyectos">
              <td scope="row" ><strong>{{item.nombre}}</strong> </td>
              <td scope="row" >{{item.responsable.nombre}}</td>
              <td scope="row" >
                <span *ngFor="let obj of item.listObjetivos">{{obj.objetivo}}
                  {{ item.listObjetivos[item.listObjetivos.length-1] === obj ? '':  ',' }}
                </span>
              </td>
              <td scope="row" >
                <span *ngFor="let obj of item.listObjetivos">
                  <span *ngFor="let integrante of obj.integrantes" >
                    {{integrante.nombre}}{{ obj.integrantes[obj.integrantes.length-1] == integrante ? '':  ',' }}
                  </span>
                </span>
              </td>
              <td scope="row" >{{item.avance}}</td>
              <td scope="row"  >{{item.fechaLimite | date : 'dd/MM/yyyy'}}</td>
              <td scope="row"  *ngIf="uidUser == item.responsable.id">accions</td>
              <!-- <td scope="row"  *ngIf="uidUser === item.responsable.id" >accions</td> -->

            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
   </div>
  </div>
   
 </div>