<!--------------------------------------------------->

<div class="container mt-4">
  <div class="card">
   <div class="card-body">
     <div class="container text-center">
       <button class="btn btn-dark  float-left" routerLink="/crear-proyecto">Nuevo</button>
        <mat-form-field class="select float-left verPor ml-4" appearance="outline">
         <mat-label>Estado</mat-label>
         <mat-select  [disabled]="disableSelect.value">
           <mat-option [value]="opt" *ngFor="let opt of opcions " (click)="verPor(opt)">{{opt}}</mat-option> 
         </mat-select>
       </mat-form-field>
       <span class="h3">Proyectos</span>
     </div>
     <div class="container mt-4">
      <div class="table-responsive tablita">
        <table class="table table-responsive">
          <thead>
            <tr>
              <th scope="col" >
                <mat-form-field class="select" appearance="outline">
                  <mat-label>Proyecto</mat-label>
                  <mat-select  [disabled]="disableSelect.value">
                    <mat-option value="option1" *ngFor="let item of items " (click)="ver(item)">{{item.data.nombre}}</mat-option> 
                  </mat-select> 
                </mat-form-field>
              </th>
              <th scope="col" >
                <mat-form-field class="select" appearance="outline">
                  <mat-label>Responsable</mat-label>
                  <mat-select  [disabled]="disableSelect.value">
                    <mat-option value="option1" *ngFor="let item of items " (click)="ver(item)">{{item.data.responsable }}</mat-option> 
                  </mat-select> 
                </mat-form-field>
              </th>
              <th scope="col" >
                <mat-form-field class="select" appearance="outline">
                  <mat-label>Tareas</mat-label>
                  <mat-select  [disabled]="disableSelect.value">
                    <mat-option value="option1" *ngFor="let item of items " (click)="ver(item)">{{item.data.tareas}}</mat-option> 
                  </mat-select> 
                </mat-form-field>
              </th>
              <th scope="col">
                <mat-form-field class="select" appearance="outline">
                  <mat-label>Integrantes</mat-label>
                  <mat-select  [disabled]="disableSelect.value">
                    <mat-option value="option1" *ngFor="let item of items " (click)="ver(item)">{{item.data.integrantes}}</mat-option> 
                  </mat-select> 
                </mat-form-field>
              </th>
              <th scope="col" >
                <mat-form-field class="select" appearance="outline">
                  <mat-label>Avance</mat-label>
                  <mat-select  [disabled]="disableSelect.value">
                    <mat-option value="option1" *ngFor="let item of items " (click)="ver(item)">{{item.data.avance}}</mat-option> 
                  </mat-select> 
                </mat-form-field>
              </th>
              <th scope="col">
                <mat-form-field class="select" appearance="outline">
                  <mat-label>Fecha Límite</mat-label>
                  <mat-select  [disabled]="disableSelect.value">
                    <mat-option value="option1" *ngFor="let item of items " (click)="ver(item)">{{item.data.fechaLimite}}</mat-option> 
                  </mat-select> 
                </mat-form-field>
              </th> 
              <!-- <th scope="col" >
                <mat-form-field appearance="outline">
                  <mat-label>Proyecto</mat-label>
                  <mat-select>
                    <mat-option *ngFor="let item of items " [value]="item.data.nombre">
                      {{item.data.nombre}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </th> -->
              
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of items ">
              <td scope="row" ><strong>{{item.data.nombre}}</strong> </td>
              <td scope="row" >{{item.data.responsable}}</td>
              <td scope="row" >{{item.data.tareas}}</td>
              <td scope="row" >{{item.data.integrantes}}</td>
              <td scope="row" >{{item.data.avance}}</td>
              <td scope="row"  >{{item.data.fecha | date : 'dd/MM/yyyy'}}</td>
            </tr>
            <tr>
            </tr>
            <tr>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
   </div>
  </div>
   
 </div>