.ChatContainer{
    width: 48%;
    height: 80vh;
    right: 0.5rem;
    bottom: 0.5rem;
    
    position: fixed;
    flex-direction: column;
    /* padding: 40px; */
    overflow: scroll;

}


.card-header{
    background-color: rgb(22, 22, 51);
    color: white;
}
  
.local{
    padding: 20px;
    border-radius:20px;
    background-color: darkcyan;
    max-width: 80%;
    color: white;
    font-size: 17px;
    align-self: flex-end;
}

.remoto{
    padding: 20px;
    border-radius:20px;
    background-color: darkkhaki;
    max-width: 80%;
    color: white;
    font-size: 17px;
    align-self: flex-start;
}

.inputContainer{
    position: fixed;
    bottom: 30px;
    width: 40%;
    padding: 10px;
}
input{
    width: 100%;
}


.imgEnviar:active{
    transform: scale(0.8);

}

/* .card-body{
    background-image: url('../../../assets/img/conejosms.png') ;
    padding: 1rem;
    opacity: 0.5;
}



.enviado{
display: block;
float: right;
background-color: rgb(2, 2, 24);
color: white;
min-width: 50.01%;
border-radius: 10px;
text-align: center;

}

.recibido{
display: block;
float: left;
background-color: rgb(9, 9, 26);
color: white;
min-width: 49.01%;
border-radius: 10px;
text-align: center;

} */