<div class="card text-center ChatContainer"  >
    
  <div class="card-header">
      <h1>Chat</h1>
    </div>
   
    <p [ngClass]= "{'local': message.messageType === 1, 'remoto': message.messageType === 2 }"  *ngFor="let message of chat.chats">{{message.text}}</p>
  
<div class="position-absolud">
      <form class="  input-group mb-3 py-3 px-3 container  position-absolute bottom-0 start-50 translate-middle-x" (ngSubmit)="sendMessage()">
        <input   type="text" class="form-control fixed-buttom " [(ngModel)]="text" [ngModelOptions]="{standalone: true}"  placeholder="Mensaje" aria-label="Recipient's username" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="  btn btn-outline-secondary" type="button"><img class="imgEnviar"  src="../../../assets/img/env.png" width="30px" alt="enviar"></button>
        </div>
      </form>
    </div>
  </div> 

