<div class="nabvar">
    <nav class="navbar ">
        <div class="container-fluid">
          <a class="navbar-brand" routerLink="/inicio">
            <img src="https://quick.com.bo/pub/media/logo/websites/1/QuickLogo2019.png" alt="" width="121" height="50" class="d-inline-block align-text-top">
          </a>
          <a routerLink="/proyectos" class="navbar-brand ">PROYECTOS</a>
          <a routerLink="/tareas" class="navbar-brand ">TAREAS</a>
          <a routerLink="/reuniones" class="navbar-brand ">REUNIONES</a>
          <a routerLink="/inicio" class="navbar-brand ">JUAN CARLOS</a>
        </div>
      </nav>
</div>