<div class="container mt-4">
    <div class="card">
     <div class="card-body">
       <div class="container">
         <span class="h3">Proyectos</span>
         <button class="btn btn-dark  float-right" routerLink="/crear-proyecto">Nuevo</button>
       </div>
       <div class="container mt-4">
         <div class="card " style="width: 18rem; float:left; margin-right: 4%;">
           <div class="card-body">
             <h2 class="card-title">Crear Videos</h2>
             <h4 class="card-subtitle mb-2 text-muted">Jorge Perez</h4>
             <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
             <h4 class="card-subtitle mb-2 ">Periodicidad</h4>
             <p>Semanal</p>
            </div>
           <div class="card-body">
             <a routerLink="/crear-proyecto" class="card-link"><i class="fa-solid fa-pen-to-square"></i></a>
             <a routerLink="/ver-proyecto" class="card-link"><i class="fa-solid fa-magnifying-glass"></i></a>
             <a href="#" class="card-link"><i class="fa-solid fa-trash-can"></i></a>
           </div>
         </div>
         <div class="card " style="width: 18rem; float:left; margin-right: 4%;">
            <div class="card-body">
              <h2 class="card-title">Crear Videos</h2>
              <h4 class="card-subtitle mb-2 text-muted">Jorge Perez</h4>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <h4 class="card-subtitle mb-2 ">Periodicidad</h4>
              <p>Semanal</p>
             </div>
            <div class="card-body">
              <a routerLink="/crear-proyecto" class="card-link"><i class="fa-solid fa-pen-to-square"></i></a>
              <a routerLink="/ver-proyecto" class="card-link"><i class="fa-solid fa-magnifying-glass"></i></a>
              <a href="#" class="card-link"><i class="fa-solid fa-trash-can"></i></a>
            </div>
          </div>
         
       </div>
     </div>
    </div>
     
   </div>
   