<div class="container-usuarios" >
        
  <!-- <div class="xd" *ngIf="listaUsuarios.length > 0">  -->
    <div class="filtro" >
    <label >Buscar Usuario</label><br>
  
      <input  (keyup)="applyFilter($event)" placeholder="buscar">
    
  </div>


   <h1> Lista de usuarios </h1>
 
   <table class="tabla">
          <tr>
             <th >USUARIO</th>
             <th >NOMBRE</th>
             <th>CHAT</th>
         </tr> 
          
         <tr class="fff">
               <td><img src="../../../assets/img/user1.png" alt="user1" width="60px"> </td>
               <td > Juan Lopez</td>
               <td ><button  type="button" (click)="activarComponente()"> <i class="fa-solid fa-message"  ></i></button></td>
 
        </tr>

        <tr class="fff">
          <td><img src="../../../assets/img/user1.png" alt="user1" width="60px"> </td>
          <td > Juan Lopez</td>
          <td ><button  type="button" (click)="activarComponente()"> <i class="fa-solid fa-message"  ></i></button></td>

       </tr> 

       <tr class="fff">
        <td><img src="../../../assets/img/user1.png" alt="user1" width="60px"> </td>
        <td > Juan Lopez</td>
        <td ><button  type="button" (click)="activarComponente()"> <i class="fa-solid fa-message"  ></i></button></td>

     </tr> 

       <tr class="fff">
        <td><img src="../../../assets/img/user1.png" alt="user1" width="60px"> </td>
        <td > Juan Lopez</td>
        <td ><button  type="button" (click)="activarComponente()"> <i class="fa-solid fa-message"  ></i></button></td>

      </tr>
      
           <tr class="fff">
             <td><img src="../../../assets/img/user2.png" alt="user1" width="60px"> </td>
             <td > Neida </td>
             <td ><button  type="button" (click)="activarComponente()"> <i class="fa-solid fa-message"  ></i></button></td>
         </tr>
         <tr class="fff">
             <td><img src="../../../assets/img/user3.png" alt="user1" width="60px"> </td>
             <td > Ever</td>
             <td ><button  type="button" (click)="activarComponente()"> <i class="fa-solid fa-message"  ></i></button></td>
 
         </tr>
         <tr class="fff">
            <td><img src="../../../assets/img/user1.png" alt="user1" width="60px"> </td>
            <td > Carlos</td>
            <td ><button  type="button" (click)="activarComponente()"> <i class="fa-solid fa-message"  ></i></button></td>

     </tr>
             
     </table>
       
   
      </div>
      <div *ngIf="option == true">
        <app-chat></app-chat>
      </div>
 