<div class="container-usuarios" >
        
  <!-- <div class="xd" *ngIf="listaUsuarios.length > 0">  -->
    <div class="filtro" >
    <label >Buscar Usuario</label><br>
  
      <input  (keyup)="applyFilter($event)" placeholder="buscar" #input>
    
   </div>


   <h1> Lista de usuarios </h1>
 
   <table class="tabla" >
          <tr>
             <th >USUARIO</th>
             <th >NOMBRE</th>
             <th>CHAT</th>
         </tr> 

         <tr *ngFor="let item of listaUsuarios ">

          <td scope="row" ><img src="../../../assets/img/userXD.png" alt=""></td>
          <td scope="row" ><strong>{{item.data.nombre}}</strong> </td>
          <td ><button  type="button" (click)="activarComponenteChat()"> <i class="fa-solid fa-message"  ></i></button></td>
           
          
        </tr>
    </table>
       
   
      </div>
      <div *ngIf="option == true">
        <app-chat></app-chat>
      </div>
 