<div class="container mt-4">
    <div class="card">
     <div class="card-body">
       <div class="container text-center">
         <button class="btn btn-dark  float-left" routerLink="/crear-reunion">Nuevo</button>
         <span class="h3">Reuniones</span>
       </div>
       <div class="container mt-4">

        <div class="table-responsive tablita">
          <table class="table table-responsive">
            <thead>
              <tr>
                <th scope="col" >
                  <mat-form-field class="select" appearance="outline">
                    <mat-label>Fecha y Hora</mat-label>
                    <mat-select  >
                      <mat-option value="option1" *ngFor="let item of reuniones " (click)="ver(item)">{{item.data.fechaHora | date: 'short'}}</mat-option> 
                    </mat-select> 
                  </mat-form-field>
                </th>
                
                <th scope="col" >
                  <mat-form-field class="select" appearance="outline">
                    <mat-label>Concepto</mat-label>
                    <mat-select  >
                      <mat-option value="option1" *ngFor="let item of reuniones " (click)="ver(item)">{{item.data.concepto}}</mat-option> 
                    </mat-select> 
                  </mat-form-field>
                </th>
                
                <th scope="col" >
                  <mat-form-field class="select" appearance="outline">
                    <mat-label>Integrantes</mat-label>
                    <mat-select  >
                      <mat-option value="option1" *ngFor="let item of reuniones " (click)="ver(item)">{{item.data.integrantes }}</mat-option> 
                    </mat-select> 
                  </mat-form-field>
                </th>
                <th scope="col">
                  <mat-form-field class="select" appearance="outline">
                    <mat-label>Enlace</mat-label>
                    <mat-select  >
                      <mat-option value="option1" *ngFor="let item of reuniones " (click)="ver(item)">{{item.data.link}}</mat-option> 
                    </mat-select> 
                  </mat-form-field>
                </th> 
                
                
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of reuniones ">
                <td scope="row" ><strong>{{item.data.fechaHora | date: 'short'}}</strong> </td>
                <td scope="row" >{{item.data.concepto}}</td>
                <td scope="row" >{{item.data.integrantes}}</td>
                <td scope="row"  ><a [href]="item.data.link">{{item.data.link}}</a></td>
              </tr>
              <tr>
              </tr>
              <tr>
              </tr>
            </tbody>
          </table>
         </div>
       </div>
     </div>
    </div>
     
   </div>
   