<div class="body">
      
  <div class="login">

      <mat-spinner diameter="50" class="spinner" *ngIf="loading"></mat-spinner>

   
      <form  *ngIf="!loading" [formGroup]="form" (ngSubmit)="Ingresar()">
         
          <h1>Iniciar secion</h1>
         
          <mat-label>Usuario &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</mat-label>
          <mat-form-field class="ancho" appearance="outline">
          <input type="email" matInput formControlName="email" placeholder="Usuario" type="text">
          </mat-form-field>

          <mat-label>Contraseña &nbsp;&nbsp;&nbsp;</mat-label>
          <mat-form-field class="ancho" appearance="outline">
          <input  type="password" matInput formControlName="password" placeholder="contraseña">
          </mat-form-field>
      
          <br>
          <button type="submit" class="btn btn-info" >Ingresar</button><br>
          <img class="usuarios" src="../../../assets/img/QUICK 2.jpg" alt="users">
      </form>
     
<!-- 
      <button (click)="obtenerUsuarioLogeado()">Usuario logeado</button>  -->
    
  </div>
</div>