
.login {
  text-align: center;
  width: 35%;
  margin-left: auto;
  margin-right: auto; 
  margin: 5% auto;
  color: black;
}

form {
color: black;
background-color: rgba(255, 255, 255, 0.308);
padding: 20px;
border-radius: 15%;
}

input{
color: black;
}
.ancho {
  width: 70%;
 
}


.usuarios{
  margin-top: 2%;
  width: 30%;
  opacity: 0.6;
  border-radius: 10%;
}


.spinner {
  margin: 50% auto;
}

.btn{
  background-color: rgba(22, 21, 24, 0.918);
  color: rgb(255, 255, 255)
}