
 <div class="contenido">
  
 <h1>Crear Usuario</h1>


    
 
     <form *ngIf="!loading" [formGroup]="form" (ngSubmit)="Registrar()">
    
       <label >Usuario</label>
       <input type="email"  formControlName="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="usuario">
     <br>
        
       <label >Contraseña</label>
       <input type="text"  formControlName="password" class="form-control" id="exampleInputPassword1" placeholder="Contraseña">
    
     <br>

      <label >Nombre</label>
      <input type="text"  formControlName="nombre" class="form-control" id="exampleInputPassword1" placeholder="Nombre">
  
     <br>

    
     


     <div class="botones">
       <button type="button" class="btn  btn-success" routerLink="/admiQuicK">volver</button>
       <button type="submit" class="btn btn-primary">Guardar</button>
     </div>
     </form>
 </div>
 