<div class="container pt-4">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-body">
                    <h2 class="text-center">Nuevo Proyecto</h2>                    
                    <form action="">
                        <div class="row">
                            <div class="mb-3">
                                <label for="name" class="form-label">Nombre del Proyecto</label>
                                <input type="text" class="form-control" id="name" placeholder="Nombre">
                            </div>
                            <div class="mb-3">
                                <label for="res" class="form-label">Responsable</label>
                                <select class="form-select " aria-label="Default select example" id="res">
                                    <option selected></option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="tarea" class="form-label">Tareas</label>
                                <input type="text" class="form-control" id="tarea" placeholder="tarea1,tarea2...">
                            </div>
                            <div class="mb-3">
                                <label for="fecha" class="form-label">Fecha</label>
                                <input type="date" class="form-control" id="fecha" placeholder="Nombre">
                            </div>
                            <div class="container">
                                <button class="btn float-left" routerLink="/proyectos">Volver</button>
                                <button class="btn float-right" routerLink="/crear-proyecto">Guardar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>