<div class="container pt-4">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <div class="card">
        <div class="card-body">
          <h2 class="text-center">Nuevo Proyecto</h2>                    
          <form [formGroup]="form" (ngSubmit)="guardar()">
            <div class="row">
              <div class="mb-3">
                  <label for="name" class="form-label">Nombre del Proyecto</label>
                  <input type="text" formControlName="nombre" class="form-control" id="name" >
              </div>
              <div class="resp">
                <label for="fecha" class="form-label">Responsable</label>
                <br>
                <mat-form-field appearance="outline">
                    <mat-select formControlName="responsable">
                      <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
                    </mat-select>
                </mat-form-field>
              </div>
                
              <div class="mb-3">
                <label for="tarea" class="form-label">Objetivos</label>
                <button type="button" class="btn btn1 float-right" (click)="addObject()" >+</button>

                <div formArrayName="listObjetivos" id="tarea"  class="mt-4" >
                  <div class="card border-bottom mb-3" *ngFor="let obj of getObjetivos.controls; let i = index" [formGroupName]="i">
                    <div class="card-header">
                      <button type="button" class="btn-close float-right"  aria-label="Close" (click)="removeObjetivo(i)"></button>
                    </div>
                    <div class="card-body">
                    <div class="mb-3">
                      <label for="objO" class="form-label">Objetivo</label>
                      <input type="text" formControlName="objetivo" class="form-control" id="objO" >
                    </div>
                    <div class="float-left form1">
                      <label for="int" class="form-label">Integrantes</label>
                      <br>
                      <mat-form-field appearance="outline" class="float-left inObject" id="int">
                        <mat-select formControlName="integrants" multiple>
                          <mat-select-trigger>
                            {{this.form.value.listObjetivos[i].integrants?.[0] || ''}}
                            <span *ngIf="(this.form.value.listObjetivos[i].integrants?.length || 0) > 1" class="example-additional-selection">
                              (+{{(this.form.value.listObjetivos[i].integrants?.length || 0) - 1}} {{this.form.value.listObjetivos[i].integrants?.length === 2 ? 'other' : 'others'}})
                            </span>
                          </mat-select-trigger>
                          <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="float-left form2 ">
                      <label for="fechaO" class="form-label">Fecha límite</label>
                      <input type="date" formControlName="fechao" class="form-control float-left inObjecfech" id="fechaO" placeholder="Nombre">
                    </div>
                    </div>
                  </div>
                  </div>
              </div>
              <div class="mb-3">
                <label for="fecha" class="form-label">Fecha límite de finalización</label>
                <input type="date" formControlName="fecha" class="form-control" id="fecha" placeholder="Nombre">
              </div>
              <div class="container">
                <button class="btn btn1 float-left" routerLink="/proyectos">Volver</button>
                <button [disabled]="form.invalid" class="btn btn1 float-right" routerLink="/crear-proyecto">Guardar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>