/* You can add global styles to this file, and also import other style files */

html { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('./assets/img/f1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}
