

<button type="button" class="btn btn-dark" routerLink="../crear-usuario">crear +</button>








 <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Foto</th>
        <th scope="col">Estado</th>
        <th scope="col">Accion</th>
        
      </tr>
    </thead>

    <tbody>
      
      <tr *ngFor="let item of usuarios ">
        <td scope="row" ><strong>{{item.data.nombre}}</strong> </td>
        <td scope="row" ><img src="../../../assets/img/user1.png" alt=""></td>
        <td scope="row" >{{item.data.estado}}</td>
        <td scope="row" ><label class="switch">
          <input type="checkbox" checked  >
          <span class="slider round"></span>
        </label></td>
        
      </tr>
   

      <!-- <tr>
        <th scope="row">1</th>
        <td><img src="../../../assets/img/user1.png" alt="user" width="50px"></td>
        <td>Ever Mamani</td>
        <td>Habilitado</td>
        <td><label class="switch">
            <input type="checkbox" checked="false" (change)="cambio($event)" >
            <span class="slider round"></span>
          </label></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td><img src="../../../assets/img/user2.png" alt="user" width="50px"></td>
        <td> Neida Llusco </td>
        <td>Habilitado</td>
        <td><label class="switch">
            <input type="checkbox" checked  >
            <span class="slider round"></span>
          </label></td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td><img src="../../../assets/img/user3.png" alt="user" width="50px"></td>
        <td>Kiber Mena</td>
        <td>Desabilitado</td>
        <td><label class="switch">
            <input type="checkbox" checked>
            <span class="slider round"></span>
          </label></td>
      </tr> -->
    </tbody>
  </table> 

  